a,
a:visited,
button{
    text-decoration: none;
    color: black;
    border: none;
}
.content{
    position: relative;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}
.background-wrap{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,.9);
}
.background-1,
.background-2{
    position: absolute;
    display: block;
    transition: .5s;
    height: 100vh;
    opacity: 1;

}
.background-1{
    z-index: 2;
}


.trivia-wrap{
    background: rgba(0,0,0,.6);
    z-index: 5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    min-width: 70%;
    border: solid 3px rgba(255,255,255, .1);
}

.message{
    padding: 3rem;
    background: rgba(0,0,0,.6);
    color: white;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: .1rem;
}

.answers{
    background: rgba(0,0,0,.6);
    margin-top: 1rem;
    padding: .8rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    min-height: 10rem;
}
.option{
    background: none;
    color: rgba(255,255,255,.8);
    padding: .8rem;
    margin: .2rem;
    transition: .5s;
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    cursor: pointer;
}
.option:hover{
    color: rgb(250, 241, 119);
    border-top: solid rgba(255,255,255,.1) 1px;
    border-bottom: solid rgba(255,255,255,.1) 1px;

}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    min-height: 3rem;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-left: solid rgba(255,255,255, 0) 1px;
    border-right: solid rgba(255,255,255, 0) 1px;
    margin: auto;
    transition: .5s;

}

.action{
    background: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-left: solid rgba(255,255,255,.1) 1px;
    border-right: solid rgba(255,255,255,.1) 1px;
    color: rgba(255,255,255,.6);
    font-size: 1.2rem;
    margin: auto;
    padding: 1rem 2rem;
    transition: .5s;
    cursor: pointer;
    line-height: 1.8rem;
}
.action:hover{
    padding: 1rem 4rem;
    border-left: solid rgba(255,255,255,1) 1px;
    border-right: solid rgba(255,255,255,1) 1px;
    color: white;
}

.score{
    text-align: center;
    color: white;
    padding: .8rem;
    margin: .2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: .2rem;

}

